.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail{
    text-align: center;
}
.wp-block-cgb-block-my-block{
    background-color: rgb(40, 105, 161);
    color:white;
}
.site-header{
	display: none;
}
.entry-footer{
	display: none;
}
.entry-title{
	text-align: center;
}