.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail{
    text-align: center;
}
.wp-block-cgb-block-my-block{
    background-color: rgb(40, 105, 161);
    color:white;
}
.site-header{
	display: none;
}
.entry-footer{
	display: none;
}
.entry-title{
	text-align: center;
}
.conteneurGlobal{
	display: flex;
	flex-direction: row;
	margin-left: 1%;

	div{
		margin-left: 1%;
	}
	img{
		width:150px;
		height:150px;
		min-width: 150px;
		min-height: 150px;
	}
}
.conteneurGlobalImage{
	display: flex;
	justify-content: space-around;
	margin-left: 1%;
	h4{
		margin-left: 1%;
	}
	img{
		width:150px;
		height:150px;
		min-width: 150px;
		min-height: 150px;
	}
}